<%- include('partials/header') %>

<div class="main-container">
    <h1>Welcome to node and express js</h1>
    <h3>Click on the button below to learn more</h3>
    <div class="form-container">
        <form class="newEmployeeForm" METHOD="POST" action="/employees">
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="phone" placeholder="Phone" required>
            <input type="email" name="email" placeholder="Email" required>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="contents">
        <%if(employees!= null){%>
        <%employees.forEach((e)=>{%>
        <ul>
            <li>
                <span><strong>Name:</strong> <%=e.name%> </span>
                <span><strong>Phone:</strong> <%=e.phone%> </span>
                <span><strong>Email:</strong> <%=e.email%> </span>
                <a href="/employees/<%=e._id%>/edit">Edit</a>
                <form class="delete-form" method="POST" action="/employees/<%=e._id%>?_method=DELETE">
                    <button>Delete</button></form>
            </li>
        </ul>
        <%})%>
        <%}%>
    </div>
</div>

<%- include('partials/footer') %>
